services:
  queue:
    image: bitnami/rabbitmq:3.9
    ports:
      - "5672:5672"
  backend:
    depends_on:
      queue:
        condition: service_started
    build:
      context: ./backend
      dockerfile: backend.dockerfile
      args:
        - RECOTEM_TESTING=true
    volumes:
      - ./backend/recotem:/app
      - test-data-location:/app/data/
    ports:
      - "8000:80"
    environment:
      - DJANGO_SETTINGS_MODULE=recotem.settings
      - CELERY_BROKER_URL=amqp://user:bitnami@queue:5672
      - RECOTEM_TESTING=true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    command: >
      sh -c '
        if ! pytest -s --cov=./recotem/ --cov-report=html tests/; then
          echo "test failed"
          exit 1;
        fi
        coverage xml
        rm -rf data/training_data
        rm -rf data/models
      '
volumes:
  test-data-location:
