services:
  queue:
    image: bitnami/rabbitmq:3.9
  db:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - envs/dev.env
  backend:
    depends_on:
      db:
        condition: service_started
    build:
      context: ./backend
      dockerfile: backend.dockerfile
      args:
        - RECOTEM_DEV=true
    volumes:
      - ./backend/recotem:/app
      - data-location:/app/data
    env_file:
      - envs/dev.env
    ports:
      - "8000:80"
  celery_worker:
    depends_on:
      db:
        condition: service_started
      backend:
        condition: service_started
      queue:
        condition: service_started
    build:
      context: ./backend
      dockerfile: celery.dockerfile
    volumes:
      - ./backend/recotem:/app
      - data-location:/app/data
    env_file:
      - envs/dev.env
volumes:
  data-location:
  db-data:
