boto3==1.35.76
celery==5.1.2
Django==3.2
django-celery-results==2.0.1
django-cleanup==5.2.0
django-cors-headers==3.7.0
django-extensions==3.1.3
django-storages==1.11.1
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.0
dj-rest-auth==2.1.7
pyjwt==2.1.0
drf_spectacular==0.16.0
SQLAlchemy==1.4.54
optuna==2.10.1
pandas==1.3.5
irspack==0.1.16
numpy==1.19.5
scikit-learn==0.24.2
whitenoise==5.2.0
django-environ==0.4.5
psycopg2-binary==2.9.10
