apiVersion: v1
kind: Service
metadata:
  name: {{ include "recotem.fullname" . }}-inference
  labels:
    {{- include "recotem.labels" . | nindent 4 }}
    app.kubernetes.io/component: inference
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    {{- include "recotem.inferenceSelectorLabels" . | nindent 4 }}
