apiVersion: v1
kind: Service
metadata:
  name: {{ include "recotem.fullname" . }}-backend
  labels:
    {{- include "recotem.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "recotem.backendSelectorLabels" . | nindent 4 }}
